# Build artifacts
build/

# Local configuration file (sdk path, etc)
local.properties

# Gradle artifacts
.gradle/

# Signing files
.signing/

# sonar-scanner artifacts
.scannerwork/

# User-specific configurations
.idea/
*.iml

# Release keys
keys/*

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
